<div>Current Player: {{xTurn ? "X" : "O"}}</div>
<div>
    <div class="divRow">
        <app-square (click)="handleSquareClick(0)" [value]="board[0]"></app-square>
        <app-square (click)="handleSquareClick(1)" [value]="board[1]"></app-square>
        <app-square (click)="handleSquareClick(2)" [value]="board[2]"></app-square>
    </div>
    <div class="divRow">
        <app-square (click)="handleSquareClick(3)" [value]="board[3]"></app-square>
        <app-square (click)="handleSquareClick(4)" [value]="board[4]"></app-square>
        <app-square (click)="handleSquareClick(5)" [value]="board[5]"></app-square>
    </div>
    <div class="divRow">
        <app-square (click)="handleSquareClick(6)" [value]="board[6]"></app-square>
        <app-square (click)="handleSquareClick(7)" [value]="board[7]"></app-square>
        <app-square (click)="handleSquareClick(8)" [value]="board[8]"></app-square>
    </div>
</div>